.vertical-header {
    position: fixed;
    top: 0; 
    left: 0;
    width: 79px;
    height: 100%;
    background-color: #001e28; 
    border-right: 1px solid #072c38;
    z-index: 1001; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.vertical-header__Logo {
    background-image: url(./vHeader-img/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 56px;
    height: 44px;
    margin-top: 12px;
}
.vertical-header__navbar {
    margin-top: 30px;
    /* height: 919px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.box{
    width: 61.328px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    opacity: 0.6;
    cursor: pointer;
}
.box:hover {
    opacity: 1;
}
.box__logo {
    padding-top: 5px;
}
.box__logo img{
    width: 28px;
    height: 28px;
}
.box__title h3 {
    font-size: 11px;
    color: #ffffff;
    text-align: center;
    margin: 0;
}